/* class based */
.dark {
    /* buttons */
    .button {
        background-color: var(--button-dark-bg);
        color: var(--button-dark-text-color, var(--button-color));
    }

    .button-outlined:hover:not([disabled]):not(.button--disabled):not(.button--busy):not(.button--no-hover) {
        background-color: var(--button-dark-bg);
        border-color: var(--button-dark-border-color);
    }

    .button-contained:is([disabled], .button--disabled):not(.button--busy) {
        @apply bg-slate-300
        text-slate-700/50;
    }

    .button-outlined:is([disabled], .button--disabled):not(.button--busy) {
        @apply border-slate-300/25
        text-slate-300/25;
    }

    .button-text:is([disabled], .button--disabled):not(.button--busy) {
        @apply text-slate-300/25;
    }

    /* links */
    .app-link--dark {
        --link-text-color: var(--link-dark-dark-mode-text-color);
        --link-hover-text-color: var(--link-dark-dark-mode-hover-text-color);
    }
}
